<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title or site.name }} | {{ site.name }}</title>
    <meta
      name="description"
      content="{{ page.excerpt | default(content) | default(site.description) | striptags | truncate(160) }}"
    />

    <link rel="icon" href="{{ '/public/img/favicon.ico' | url }}" size="any" />
    <link
      rel="icon"
      href="{{ '/public/img/icon.svg' | url }}"
      type="image/svg+xml"
    />
    <link
      rel="apple-touch-icon"
      href="{{ '/public/img/apple-touch-icon.png' | url }}"
    />
    <link
      rel="apple-touch-startup-image"
      href="{{ '/public/img/icon-512.png' | url }}"
    />
    <meta name="apple-mobile-web-app-title" content="{{ site.name }}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}" />
    <meta name="theme-color" content="{{ site.color }}" />

    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <link
      rel="stylesheet"
      href="https://stevecherry.net/normcore/css/normcore.css"
    />
    <link rel="stylesheet" href="{{ '/public/style.css' | url }}" media="screen" />

    <script
      src="https://stevecherry.net/normcore/js/normcore.js"
      defer
    ></script>
    <script src="{{ '/public/script.js' | url }}" defer></script>
  </head>
  <body>
    <div>
      <header role="banner">
        <a href="{{ '/' | url }}">{{ site.name }}</a>
      </header>

      <nav role="navigation">
        <ul role="list">
          {% for page in collections.all | eleventyNavigation %}
          <li>
            <a href="{{ page.url | url }}"{% if page.url == page.url %} aria-current="page"{% endif %}>{{ page.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>

      <main role="main">
        <h1>{{ title or site.name }}</h1>

        {{ content | safe }}
      </main>

      <footer role="contentinfo">
        <p>{{ site.description }}</p>
      </footer>
    </div>

    <script defer>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('{{ '/sw.js' | url }}', {
          scope: '{{ '/' | url }}',
        });
      }
    </script>
  </body>
</html>
