<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or site.name }} | {{ site.name }}</title>
    <meta name="description" content="{{ site.description }}" />
    <link
      rel="stylesheet"
      href="https://stevecherry.net/normcore/css/normcore.css"
    />
    <link rel="stylesheet" href="{{ '/public/style.css' | url }}" />
    <script src="{{ '/public/script.js' | url }}" type="module"></script>
  </head>

  <body>
    <header role="banner">
      <a href="{{ '/' | url }}">{{ site.name }}</a>
    </header>

    <nav role="navigation">
      <ul role="list">
        {% for page in collections.all | eleventyNavigation %}
        <li>
          <a href="{{ page.url | url }}">{{ page.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>

    <main role="main">
      {% if title %}
      <h1>{{ title }}</h1>
      {% endif %} {{ content | safe }}
    </main>

    <footer role="contentinfo">
      <p>{{ site.description }}</p>
    </footer>
  </body>
</html>
